<?xml version="1.0" encoding="utf-8"?>
<installer-script minSpecVersion="1.000000" authoringTool="com.apple.PackageMaker" authoringToolVersion="3.0.3" authoringToolBuild="174">
    <title>Keywurl</title>
    <options customize="allow" allow-external-scripts="no" rootVolumeOnly="true"/>
    <script>
function pm_choice0_selected() {
  result = true;
  result = result &amp;&amp; (my.target.systemVersion.ProductVersion >= '10.5.1');
  return result;
}


function pm_choice0_hidden() {
  result = true;
  result = result &amp;&amp; !(my.target.systemVersion.ProductVersion >= '10.5.1');
  return result;
}


function pm_choice0_enabled() {
  result = true;
  result = result &amp;&amp; (my.target.systemVersion.ProductVersion >= '10.5.1');
  return result;
}


function pm_choice0_startSelected() {
  result = true;
  result = result &amp;&amp; (my.target.systemVersion.ProductVersion >= '10.5.1');
  return result;
}


function pm_choice0_startEnabled() {
  result = true;
  result = result &amp;&amp; (my.target.systemVersion.ProductVersion >= '10.5.1');
  return result;
}


function pm_choice0_startHidden() {
  result = true;
  result = result &amp;&amp; !(my.target.systemVersion.ProductVersion >= '10.5.1');
  return result;
}


function pm_choice1_selected() {
  result = true;
  result = result &amp;&amp; !(my.target.systemVersion.ProductVersion >= '10.4.1');
  result = result &amp;&amp; (my.target.systemVersion.ProductVersion &lt;= '10.5.1');
  return result;
}


function pm_choice1_hidden() {
  result = true;
  result = result &amp;&amp; (my.target.systemVersion.ProductVersion >= '10.4.1');
  result = result &amp;&amp; !(my.target.systemVersion.ProductVersion &lt;= '10.5.1');
  return result;
}


function pm_choice1_enabled() {
  result = true;
  result = result &amp;&amp; !(my.target.systemVersion.ProductVersion >= '10.4.1');
  result = result &amp;&amp; (my.target.systemVersion.ProductVersion &lt;= '10.5.1');
  return result;
}


function pm_choice1_startSelected() {
  result = true;
  result = result &amp;&amp; !(my.target.systemVersion.ProductVersion >= '10.4.1');
  result = result &amp;&amp; (my.target.systemVersion.ProductVersion &lt;= '10.5.1');
  return result;
}


function pm_choice1_startEnabled() {
  result = true;
  result = result &amp;&amp; !(my.target.systemVersion.ProductVersion >= '10.4.1');
  result = result &amp;&amp; (my.target.systemVersion.ProductVersion &lt;= '10.5.1');
  return result;
}


function pm_choice1_startHidden() {
  result = true;
  result = result &amp;&amp; (my.target.systemVersion.ProductVersion >= '10.4.1');
  result = result &amp;&amp; !(my.target.systemVersion.ProductVersion &lt;= '10.5.1');
  return result;
}</script>
    <choices-outline>
        <line choice="choice0"/>
        <line choice="choice1"/>
    </choices-outline>
    <choice id="choice0" title="Keywurl for Safari 4 on Leopard" start_selected="pm_choice0_startSelected()" start_enabled="pm_choice0_startEnabled()" start_visible="!pm_choice0_startHidden()" selected="pm_choice0_selected()" enabled="pm_choice0_enabled()" visible="!pm_choice0_hidden()">
        <pkg-ref id="net.purefiction.keywurl.keywurl.pkg"/>
    </choice>
    <choice id="choice1" title="Keywurl for Safari 4 on Tiger" start_selected="pm_choice1_startSelected()" start_enabled="pm_choice1_startEnabled()" start_visible="!pm_choice1_startHidden()" selected="pm_choice1_selected()" enabled="pm_choice1_enabled()" visible="!pm_choice1_hidden()">
        <pkg-ref id="net.purefiction.keywurl.keywurl.pkg"/>
    </choice>
    <pkg-ref id="net.purefiction.keywurl.keywurl.pkg" installKBytes="276" version="1.4.0" auth="Root">file:./Contents/Packages/keywurl.pkg</pkg-ref>
    <pkg-ref id="net.purefiction.keywurl.keywurl.pkg" installKBytes="276" version="1.4.0" auth="Root">file:./Contents/Packages/keywurl.pkg</pkg-ref>
</installer-script>